@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
} 

body {
    margin: 0;
    font-family: "Cormorant Infant", Georgia, "Times New Roman", serif;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #fffdd0;
}

header {
    display: flex;
    justify-content: center;
    background-color: #ff8da1;
    padding: 8px;
}

h1 {
    color: #ffdc47;
    font-size: 2.5rem;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 8px 16px;
}

section {
    margin-bottom: 32px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
}

.wish-card {
    padding: 14px;
    border: 1px solid #ffdc47;
    border-radius: 10px;
    margin-bottom: 16px;
}

.wish-card--purchased {
    opacity: 0.6;
}

.wish-card--purchased h3 {
  text-decoration: line-through;
}

aside {
    background-color: #ff8da1;
    border-top: 3px solid #ffdc47;
    border-bottom: 3px solid #ffdc47;
    color: #3E141B;
}

aside p {
    font-size: 1.8rem;
    font-weight: bold;
}

footer {
    font-size: 0.7rem;
    color: #6c757d;
    padding: 10px;
}

@media (min-width: 600px)
{
    .cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
}

@media (min-width: 1024px)
{
    .cards {
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
    }

    .content {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }

    aside {
        border-left: 3px solid #ffdc47;
    }

    main {
        max-width: 1000px;
        padding: 16px 24px;
    }
}

